index.html.erb
<p id="notice"><%= notice %></p>

<h1>cocktails</h1>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-6 col-sm-4">

      <div class="card" style="background-image: url('<%= cocktail.photo? ? cl_image_path(cocktail.photo.path) : "http://publicdomainvectors.org/photos/Anonymous_aiga_bar_bg.png"%>')">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <div>
          <%= link_to 'Details', cocktail, class: "btn btn-medium btn-primary btn-sm" %>
          <%= link_to icon('trash'), cocktail_path(cocktail.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-medium btn-primary right btn-sm" %>
          </div>
      </div>
    </div>
  <% end %>
</div>
