<h1>cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>

<div class="form-horizontal">
<div class="form-group text-align">
  <%= simple_form_for [cocktail, dose] do |f| %>
    <%= f.association :ingredient, label: "Choose ingredient" %>
    <%= f.input :description, label: "Choose dose" %>
    <%= f.submit 'Add ingredient', class: "btn btn-primary padding" %>
  <% end %>
</div>
</div>

<%= link_to icon('chevron-circle-left')+' Back', cocktail_path(@cocktail) %>
